@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .form-control {
    @apply bg-blue-100 p-4 rounded shadow-md/30;
  }
  .input-field {
    @apply bg-white text-gray-600 border  border-blue-300 rounded-md p-2 mb-2 w-full focus:outline-none focus:ring-1 focus:ring-blue-500;
  }

  .btn {
    @apply bg-blue-500 text-white p-2 rounded w-full cursor-pointer hover:bg-blue-600;
  }
  .heading1 {
    @apply p-2 font-semibold text-gray-600 text-2xl text-center;
  }
}
