@import "tailwindcss";

@layer components {
  .try-button {
    @apply bg-red-400 p-2 rounded-md text-white text-base font-normal cursor-pointer active:scale-95;
  }
  .submit-button {
    @apply bg-red-400 p-2 rounded-md text-white text-base font-normal cursor-pointer active:scale-95;
  }
  .searchInput {
    @apply p-2 border border-gray-600 outline-none  focus:border-sky-500 rounded-md;
  }
  .movie-detail{@apply text-teal-100 flex flex-col justify-center items-center}
}
